{% extends "index.html" %}

{% block content %}
    <h1>
        About Page
    </h1>
    <p>
        -------------------------------------------------------------------------------------------------------------
    </p>
        <!-- Shows information of the people involved in this project -->
    <h3>This was made by:</h3>
    <p>
    Hans Baker : HV.Baker@student.han.nl
    </p>
    <p>
    Fozia Warsame : F.Warsame@student.han.nl
    </p>
    <p>
    Joost Kamperman : J.Kamperman@student.han.nl
    </p>
{% endblock %}