{% extends "index.html" %}

{% block content %}
    <h1>
        Home Page
    </h1>
    <p>
        -------------------------------------------------------------------------------------------------------------
    </p>
        <!-- Shows simple information about the website and some of the functions -->
    <p>
        This website is made with Python, SQL, html and CSS.
    </p>
    <p>
        We used BLAST to translate data and put it in a database.
    </p>
    <p>
        On the search page you can see and search for specific data.
    </p>
    <p>
        On the graph page you can see the most found proteins and families in a graph.
    </p>
{% endblock %}