<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyse champignoncompost</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <script type="text/javascript" src="static/javascript.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

        <!-- The header of every page -->
    <div class="header">
      <a href="/" class="logo">
          <img src="static/assets/home.gif" alt="Home Page" width="100" height="100">
      </a>
      <div class="header-right">
        <a href="/search">
            <img src="static/assets/search.gif" alt="Search Page" width="100" height="100">
        </a>
        <a href="/graphs">
            <img src="static/assets/graph.gif" alt="Graph Page" width="100" height="100">
        </a>
        <a href="/about">
            <img src="static/assets/about.gif" alt="About Page" width="100" height="100">
        </a>
      </div>
    </div>

        <!-- Where the content of every page will show -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>